/* Markdown Styles */
/* Global */
.markdown {
  font-size: 18px;
}
/* Headers */
.markdown h1,
.markdown h2 {
  margin: 12px 0;
}
.markdown h3,
.markdown h4 {
}
.markdown h5,
.markdown h6 {
}
/* Links */
.markdown a {
}
.markdown a:hover {
  text-decoration: underline;
}
/* Paragraph */
.markdown p {
  margin: 2px 0;
}
/* Lists */
.markdown ul,
.markdown ol {
  margin-left: 25px;
  margin-bottom: 10px;
}
.markdown li > p,
.markdown li > ul,
.markdown li > ol {
  margin-bottom: 0;
}
.markdown ol {
  list-style: decimal;
}
.markdown ul {
  list-style: disc;
}
/* Blockquotes */
.markdown blockquote {
}
.markdown blockquote > p {
  margin-bottom: 0;
}
/* Tables */
.markdown td,
.markdown th {
}
.markdown tr:nth-child(odd) {
}
.markdown table {
}
